<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        VENN DIESEL
      </h1>
      <p>a venn diagram maker by <a href="https://www.twitter.com/zacharydanger">@zacharydanger</a></p>
    </header>

    <main>
      <p>
        <canvas id="venny"></canvas>
      </p>
      
      <h2>
        TODO
      </h2>
      <ul>
        <li><strike>pizza</strike></li>
        <li>make this dynamic</li>
        <li>make shareable</li>
      </ul>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
      //
      <a href="http://paperjs.org">Made with Paper.js</a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/paper-full.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
